body {
  font-family: "Roboto", helvetica, sans-serif;
  background: #F2F5DE;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#canvas {
  width:100%;
  height:100%;
  background-color: #F2F5DE;
}

.container {
  width:100%;
  max-height:800px;
  max-width:800px;
  display:block;
  margin: 40px auto 40px;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

form {
  user-select: none;
  width:400px;
  background-color:#FFF;
  padding:40px;
  border-radius: 7px;
  display: none;
  margin: 40px auto;
}

fieldset {
  border: none;
  padding:0;
  margin:0;
}

legend {
  width:100%;
  margin: 0 auto 45px;
  text-align:center;
  font-size:30px;
}

legend p {
  font-size:15px;
}

.labels-100 {
  font-size:.8em;
  display:block;
  height:25px;
  width:100%;
  float: left;
  text-align: center;
}

.labels-50 {
  font-size:.8em;
  display:block;
  height:25px;
  width:50%;
  float: left;
  text-align: center;
}

.labels-25 {
  font-size:.8em;
  display:block;
  height:25px;
  width:25%;
  float: left;
  text-align: center;
}

.labeltext {
  margin-top:15px;
}

.input-100 {
  display:block;
  width:100%;
  float: left;
  height:55px;
}

.input-25 {
  display: block;
  width:25%;
  margin 0px; auto 10px;
  height:55px;
  float: left;
  padding:7px;
}

.input-50 {
  display: block;
  width:50%;
  margin 0px; auto 10px;
  height:55px;
  float: left;
  padding:7px;
}

.blue {
  background-color: #59C3C3;
}

.green {
  background-color: #659B5E;
}

.purple {
  background-color: #52489C;
}

.red {
  background-color: #F21B3F;
}

.textboxes{
  width:100%;
  padding:5px;
  height:100%;
  border-radius: 7px;
  border: none;
  border:2px solid #E7E8EB;
  text-align: center;
}

#settings{
  width:100%;
  padding:5px;
  height:100%;
  border-radius: 7px;
  border: none;
  border:2px solid #E7E8EB;
  text-align: center;
}

#textboxes:hover{
  background-color: #F0FEF4;
}

#fpsslider{
  width:100%;
  border-radius: 7px;
  margin-top:13px;
}

button {
  background-color: #6F955A;
  border:2px solid #D4FCDF;
  border: none;
  font-size:1em;
  color: #FFF;
}

button:hover{
  background-color: #618B4A;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.white-small {
  color:#FFF;
  font-size: .7em;
}

.bottom-buttons{
  width: 800px;
  display: block;
  margin: 0px auto 0px;
}

.bottom-buttons button {
  width:90%;
  height:100%;
  display: none;
  border-radius: 6px;
  background-color: #456990;
}

.button-holder {
  width: 50%;
  height:55px;
  float: left;
  display: block;
}

.button-holder-download {
  width: 50%;
  height:55px;
  float: left;
  display: block;
}

.button-holder-download a {
  width: 100%;
  display: none;
  height:100%;
  text-decoration: none;
  color: #FFF;
  background-color: #456990;
  text-align: center;
  border-radius: 6px;
}

.button-holder-download p{
  padding:20px;
}

.color-picker-container {
  font-size:.8em;
  display:block;
  height:25px;
  width:50%;
  float: left;
  text-align: center;
}

#color-picker{
  width:100%;
  height: 100%;
  border: none;
  background:none;
}